* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
@font-face {
    font-family: "Viga";
    src: url(../../assets/fonts/Viga-Regular.ttf);
}
a, .burger-menu {
    cursor: pointer;
}
body {
    min-width: 320px;
}